*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
    padding-top: 5vh;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 55vh;
    flex-basis: 88vh;
    background-color: white;
    border-radius: 2vh;
    font-size: 20px;
}
.image img{
    max-width: 20vh;
    width: auto;
    height: auto;
    border-radius: 50%;
}
.name{
    font-size: 30px;
    font-weight: bold;
}
.description {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2vh;
}
.line{
    border: 1px solid aquamarine;
    width: 55vh;
}
.button{
    display: flex;
    flex-direction: column;
    gap:2vh;
}
.button button{
    width: 20vh;
    height: 5vh;
    font-size: 2vh;
    font-weight: bolder;
    color: white;
    background-image: linear-gradient(to left, rgba(127, 255, 249, 0.514), aquamarine) ;
    border: none;
    border-radius: 1vh;
}