.textInput{
    display: flex;
    flex-direction: column;
    gap:1vh;
}
.textInput input{
    width: 60vh;
    border: solid 1px black ;
    border-radius: 3px;
    height: 5vh;
}
.textInput textarea{
    width: 60vh;
    border: solid 1px black ;
    border-radius: 3px;
    height: 15vh;
}