#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.drag {
  touch-action: none  ;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  user-select: none;
  touch-action: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  touch-action: auto;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  touch-action: auto;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  touch-action: none;
}
